{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "plugins": [
    "react",
    "import"
  ],
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-plusplus": "off",
    "no-underscore-dangle": "warn",
    "prefer-template": "warn",
    "no-param-reassign": "warn",

    "react/jsx-uses-vars": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-filename-extension": 1
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
